{% extends 'base.html.twig' %}

{% block body %}

<member>
    <h2>{{ member.pseudo }}</h2>
    <div class="metadata"> Ceci est un test </div>
    <div class="content">
        <img src="http://placehold.it/350x150" alt="">
        <p> Premier paragraphe</p>
        <p> 2eme paragraphe</p>
        <p> 3eme paragraphe</p>
    </div>
</member>

{% endblock %}