{% extends 'base.html.twig' %}

{% block body %}
<section class="members">


<h2> Présentation du site </h2>

{# <member>
    <h2>Titre de l'article</h2>
    <div class="metadata"> Ceci est un test </div>
    <div class="content">
        <img src="http://placehold.it/350x150" alt="">
        <p> Premier paragraphe</p>
        <p> 2eme paragraphe</p>
        <p> 3eme paragraphe</p>
        <a href="" class="btn btn-primary"> Lire la suite </a>
    </div>
</member> #}
    

</section>
{% endblock %}
