{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}

<div class="headerMembres">
    <h2>Actualités</h2>
     <a href=""><button id="createmembre" type="button" class="btn btn-success">Poster une nouvelle</button></a> 
</div>

{% for new in news %}
<div class="cards">
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">{{new.title}} <span>Créé le : {{new.createdAt | date('d/m/y')}}</span></div>
        <div class="card-body">
            <h4 class="card-title">{{new.description}}</h4>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
