<!DOCTYPE html>
<html>
    <head>
    <link rel="icon" type="image/png" href="https://image.noelshack.com/fichiers/2019/14/4/1554409081-logonelysis-32x32.png"/>
        <meta charset="UTF-8">
        <title>{% block title %}Intranet Nelysis{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset("main.css") }}">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}

        {% block javascripts %}
        
            <!-- JQuery -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <!-- Bootstrap tooltips -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
            <!-- Bootstrap core JavaScript -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
            <!-- MDB core JavaScript -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.4/js/mdb.min.js"></script>
             <!-- Application Javascript -->
        <script type="text/javascript" src="{{ asset("js/application.js") }}"></script>
        {% endblock %}
    </body>
</html>
